<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}ChatGPT for X{% endblock %}</title>
</head>
<body>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 3vh 5vw;
    }
    .role .timestamp {
        margin: 2px;
    }
</style>
        <h1>{% block header %}Ask ChatGPT{% endblock %}</h1>
    </header>
    {% if message %}

    {% for msg in past_messages %}
    <div style="margin-left: 5%; margin-right: 5%">
        {% if msg.name == "User" %}
        <div style="text-align: right; width: 66.67%; margin: auto;">
            <h2 class="role">{{ msg.name }}</h2>
            <p class="response" style="background-color: lightblue; padding: 10px; border-radius: 10px; display: inline-block;">{{msg.message}}</p>
            <p class="timestamp"> {{msg.day}} {{msg.time}}</p>
        </div>
        {% else %}
        <div style="text-align: left; width: 66.67%; margin: auto;">
            <h2 class="role">{{ msg.name }}</h2>
        <p class="response" style="background-color: lightgreen; padding: 10px; border-radius: 10px; display: inline-block;">{{msg.message}}</p>
            <p class="timestamp"> {{msg.day}} {{msg.time}}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
       <p>No answers yet.</p>
    {% endif %}

    <form action="{{ url_for('index')}}" method="post">
        <label for="message">Ask me anything:</label>
        <input type="text" id="message" name="message">
        <button type="submit">Send</button>
    </form>
    <footer>
    </footer>
</body>
</html>